{% extends 'base.html' %}

{% block content %}
<h2>User Details</h2>
<p><strong>ID:</strong> {{ user.id }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>First Name:</strong> {{ user.first_name }}</p>
<p><strong>Last Name:</strong> {{ user.last_name }}</p>
<p><strong>Created At:</strong> {{ timestamp_to_datetime(user.created_at) }}</p>
<p><strong>Updated At:</strong> {{ timestamp_to_datetime(user.updated_at) }}</p>
<br>
<a href="{{ url_for('users:update_user_form', user_id=user.id) }}">Edit User</a> |
<a href="{{ url_for('users:read_users') }}">Back to Users List</a>
{% endblock %}
